*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .introduce {
  font-size: medium;
  font-weight: 300;
}
.container .location {
  font-size: small;
  font-weight: bold;
  color: blue;
}