*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 500px;
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .introduce {
  font-size: medium;
  font-weight: 300;
}
.container .location {
  font-size: small;
  font-weight: bold;
  color: blue;
}
.container .about-me {
  display: flex;
  row-gap: 30px;
  border: solid 1px blue;
}
.container .about-me .name {
  font-weight: bold;
  font-size: 20px;
}